
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="topnav">
        <a class="add-user" href="/">Home</a>
        <a href="/show-user">List Users</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div class="form">
        <form action="/update-user" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Form Edit User</legend>
                <div class="input-group">
                    <label for="">Email</label>
                    <input type="text" name="email" id="" value="<%= product.email %>">
                </div>
                <div class="input-group">
                    <label for="">Name</label>
                    <input type="text" name="name" id="" value="<%= product.name %>">
                </div>
                <div class="input-group">
                    <label for="">City</label>
                    <input type="text" name="city" id="" value="<%= product.city %>">
                </div>
                <div class="input-group">
                    <label for="">Avatar</label>
                    <input type="file" name="avatar" id="" multiple>
                    <input type="hidden" name="id" id="" value="<%= product.id %>">
                </div>
                <div>
                    <input type="submit" value="Save">
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>